@use 'var';

.hero{
    padding-left: 3.2vw;
    background-image: url(../images/vingadores_ultimato.png);
    background-size: cover;
    background-repeat: no-repeat;

    h2{
        color: silver;
        font-size: 72px;
        margin-bottom: 3.5vw;
        @media (max-width:1024px){
            font-size:64px ;
        }
        @media (max-width:768px){
            font-size: 32px;
        }
    }

    &__content{
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width:1024px){
            width: 450px;
        }
        @media (max-width:768px){
            width: 280px;
        }
        
        .button{
            text-decoration: none;
            background-color: var.$corbutton;
            border: none;
            padding: 2vw;
            text-align: center;
            margin-left: -80px;
            font-size: 48px;
            border-radius: 9px;
            color: var.$cordefundo;
            &:hover{
                background-color: lighten(var.$corbutton, 8%);
            }
            @media (max-width:1024px){
                font-size: 40px;
            }
            @media (max-width:768px){
                font-size: 24px;
            }
        }

        p{
            margin-top: 3.5vw;
            font-size: 34px;
            color: var.$cortexto;
            @media (max-width:1024px){
                font-size: 28px;
            }
            @media (max-width:768px){
                font-size: 12px;
            }
        }
    }
}